.example-fill-remaining-space {
    flex: 1 1 auto;
}

.nav-btn {
    margin-right: 0.5em;
    background-color: whitesmoke;
}

.mat-toolbar.mat-primary {
    background:black;
    font-style: 'xeno', 'arial', sans-serif;
}

.body{
background-color: black;
}