<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div style="text-align:center">
  <h1>
    Welcome to Gardens of the Galaxy!
  </h1>
  <img width="300" alt="Angular Logo" src="assets/img/logo.png">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">About</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">Products</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">blog</a></h2>
  </li>
</ul>
<div class="container">
  <form>
    <div class="form-group">
      <h1 class="text-center text-primary">Login</h1>
      <div class="input-group-prepend">
        <input type="text" class="form-control" placeholder="username" name="Login">
        <span class="input-group-text"></span>
      </div>
      <div class="input-group-prepend">
        <input type="text" class="form-control" placeholder="password">
      </div>
      <span class="input-group-text">Submit</span>
    </div>
  </form>
</div>

<!-- <router-outlet></router-outlet> -->
